/* Cat website */

* {
	box-sizing: border-box;
}

html {
	background: white;
}

body {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0.5em;
	background: #f24444;
	color: #282828;
	font-size: 22px;

}

main {
	max-width: 35em;
	margin: 5em auto;
	padding: 0 0.5em;
	perspective: 20em;
}

main2 {
	display: flex;
flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-top: 9em;
}

.toggle1 {
	width: 70%;
}

.border-button1 {
  border: solid 10px #00ffee;
  transition: border-width 0.6s linear;
}

.border-button1:hover { border-width: 15px; }


h1, h2, h3, h4, h5 {
	font-size: 2em;
	margin: 0 0 1rem 0;
	padding: 0;
}

h2 {
	font-size: 1em;
	color: white;
}

p {
	margin: 0 0 1rem 0;
}

img {
	max-width: 100%;
	height: auto;
}

footer {
	margin: -0.5em;
	color: #f2c544;
	text-align: left;
}

.borders {
	border-radius: 0 10em 1em 0;
	animation-name: borders;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform: rotateY(20deg);
	transform-origin: left;
	transition: transform 0.5s;
}

.borders:hover {
	transform: rotateY(-10deg);
}

@keyframes borders {
	from { border-radius: 0 10em 1em 0; }
	to { border-radius: 0 1em 10em 0; }
}


nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #efd504;
	padding: 1em;
	z-index: 2;
	display: flex;
	align-items: center;
}

nav a {
	position: relative;
	    display: inline-block;
	    margin: 15px 25px;
	    outline: none;
	    color: #f24444;
	    text-decoration: none;

	    letter-spacing: 1px;
	    font-weight: 400;
	    text-shadow: 0 0 1px rgba(255,255,255,0.3);
	    font-size: 1.5em;
}

nav a:hover {
	color: #f2c544;
}

.branding {
	position: absolute;
	top: 0;
	left: 0;
}


.grid {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3em;
	margin-bottom: 3em;
}

.item {
	width: 25%;
	padding: 0.5em;

}

.button_slide {
  color: #FFF;
  border: 2px solid rgb(255, 231, 2);
  border-radius: 0px;
  padding: 7px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 27px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #efd504;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
	text-decoration: none;
}

.button_slide:hover {
  box-shadow: inset 0 100px 0 0 #D80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.toggle{
	padding: 2em;
}

.toggle1{
	padding: 2em;
}

.toggle2{
	padding: 2em;
}

.border-button {
	  border: solid 1px white;
	  transition: border-width 0.6s linear;
		padding: 0.2em;
	}

	.border-button:hover { border-width: 5px; }

p{
	font-size: 0.8em;
margin-top: 13em;
padding: 3em;
}

@-webkit-keyframes pulse {
 0% {
   background-color: #f4ff00;
   opacity: 1.0;
   -webkit-transform: scale(1.0) rotate(0deg);
 }
 33% {
   background-color: #8bff00;
   opacity: 0.75;
   -webkit-transform: scale(1.1) rotate(-5deg);
 }
 67% {
   background-color: #00ffbf;
   opacity: 0.5;
   -webkit-transform: scale(1.1) rotate(5deg);
 }
 100% {
   background-color: #ff00fc;
   opacity: 1.0;
   -webkit-transform: scale(1.0) rotate(0deg);
 }
}

.pulsedbox {
 -webkit-animation-name: pulse;
 -webkit-animation-duration: 4s;
 -webkit-animation-direction: alternate;
 -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes bounce {
 from {
   left: 0px;
 }
 to {
   left: 200px;
 }
}

div {
 -webkit-animation-name: bounce;
 -webkit-animation-duration: 4s;
 -webkit-animation-iteration-count: 10;
 -webkit-animation-direction: alternate;
 width: 80%;
    position: relative;
    left: 100px;
color: #6e1e1e;
}

.active{
	font-size: 0.8em;
margin-top: 6em;
padding: 3em;
}

h1{
margin-top: 3em;
font-size: 4em;
margin-left: 1em;
color: white;
}

section1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: absolute;
	top: 1300px;
}

.togle1{
	padding: 2em;
	width: 72.5%
}

.togle2{
	padding: 2em;
}

.togle3{
	padding: 2em;
}

.split{
	margin: -3em;
	position: fixed;
	margin-top: 3em;
}

.border-button12{
	width: 70%;
padding: 3em;
}

h3{
margin-top: 3em;
font-size: 5em;
margin-left: 1em;
color: white;
}
